body {
	background: #222222;
	color: white;
	font-family: 'Montserrat', sans-serif;
	text-align: center; /* centers both banners*/
	margin: 0;
}

h1 {
	background: steelblue;
	color: white;
	margin: 0;
	text-transform: uppercase;
	line-height: 1.1; /*brings the title closer together vertically*/
	padding: 15px 0; /*gives the title room on the top and bottom*/
	transition: background 0.5s; /*fades out the banner color instead of instantly changing it.*/
	-webkit-transition: background 0.5s; /*Used for brower compatibility, no change in functionality of code*/
	-moz-transition: background 0.5s; /*"                                                                 "*/
}

button {
	border: none;
	background: none; 
	text-transform: uppercase;
	height: 100%; /*centers the buttons vertically*/
	font-weight: 700;
	color: steelblue;
	letter-spacing: 1px;
	font-size: inherit;
	transition: all 0.5s; /*fading effect: affected component and how long it takes to take effect*/
	-webkit-transition: all 0.5s; /*Used for brower compatibility, no change in functionality of code*/
	-moz-transition: all 0.5s; /*"                                                                 "*/
}

/*Fixed Static Spacing for Try again.*/
#tryAgain {
	width: 30%;
	display: inline-block;
}

#colorDisplay {
	font-size: 175%;
}

#lowerBanner {
	background: white;
	color: #222222;
	margin: 0 auto;
}


.buttons {
	max-width: 200px;
	width: 200px;

}

/*marks all 6 color boxes(the container)*/
#container {
	 /*sets box container size*/
	max-width: 600px; 
	margin: 20px auto; /*centers it*/
}

/*marks each box*/
.box {
	width: 30%; /*sets size box size, 30% of the container*/
	padding-bottom: 30%; /*sets visible size ""         ""*/
	float: left; /*stacks on same the line. 30%-30%-30% of 100%. leftover 10% on the right.*/
	margin: 1.66%; /*tries to fill in the remaining 10%*/
	border-radius: 25%; /*rounds out the boxes for a finished look*/
	transition: background 0.5s; /*fading effect for the boxes*/
	-webkit-transition: background 0.5s; /*Used for brower compatibility, no change in functionality of code*/
	-moz-transition: background 0.5s; /*"                                                                 "*/
}

/*fixed font not showing when in mode. now white.*/
.selected {
	background: steelblue;
	color: white;
}

/*both used to center the lower banner. new game: 200px, tryagain = 200px, each of these have 100px*/
#hard {
	margin: 0 0;
	width: 100px;
}

#easy {
	margin: 0 0;
	width: 100px;
}